<div class="container main-container">
  <h4>Register</h4>
  <hr />
  <form novalidate (ngSubmit)="addUser()" [formGroup]="registerForm">
    <div class="form-horizontal">
      <div class="form-group">
        <label for="name" class="col-md-2 control-label">Full Name</label>
        <div class="col-md-10">
          <input
            id="name"
            type="text"
            class="form-control"
            placeholder="Name (mandatory)"
            formControlName="name"
            [ngClass]="{
              'is-invalid': displayMessage['name']
            }"
          />
        </div>

        <span class="text-danger" *ngIf="displayMessage['name']"
          ><p [innerHTML]="displayMessage['name']"></p
        ></span>
      </div>

      <div class="form-group">
        <label for="CPF" class="col-md-2 control-label">CPF</label>
        <div class="col-md-10">
          <input
            id="cpf"
            type="text"
            class="form-control"
            placeholder="CPF (mandatory)"
            formControlName="cpf"
            cpf
            [textMask]="{ mask: masks['cpf'].textMask }"
            [ngClass]="{
              'is-invalid': displayMessage['cpf']
            }"
          />
        </div>

        <span class="text-danger" *ngIf="displayMessage['cpf']"
          ><p [innerHTML]="displayMessage['cpf']"></p
        ></span>
      </div>

      <div class="form-group">
        <label for="email" class="col-md-2 control-label">Email</label>
        <div class="col-md-10">
          <input
            id="email"
            type="text"
            class="form-control"
            placeholder="E-mail (mandatory)"
            formControlName="email"
            [ngClass]="{
              'is-invalid': displayMessage['email']
            }"
          />
        </div>

        <span class="text-danger" *ngIf="displayMessage['email']"
          ><p [innerHTML]="displayMessage['email']"></p
        ></span>
      </div>

      <div class="form-group">
        <label for="password" class="col-md-2 control-label">Password</label>
        <div class="col-md-10">
          <input
            id="password"
            type="text"
            class="form-control"
            placeholder="Password (mandatory)"
            formControlName="password"
            [ngClass]="{
              'is-invalid': displayMessage['password']
            }"
          />
        </div>

        <span class="text-danger" *ngIf="displayMessage['password']"
          ><p [innerHTML]="displayMessage['password']"></p
        ></span>
      </div>

      <div class="form-group">
        <label for="confirmPassword" class="col-md-2 control-label"
          >Confirm password</label
        >
        <div class="col-md-10">
          <input
            id="confirmPassword"
            type="text"
            class="form-control"
            placeholder="Confirm password (mandatory)"
            formControlName="confirmPassword"
            [ngClass]="{
              'is-invalid': displayMessage['confirmPassword']
            }"
          />
        </div>

        <span class="text-danger" *ngIf="displayMessage['confirmPassword']"
          ><p [innerHTML]="displayMessage['confirmPassword']"></p
        ></span>
      </div>

      <br />
      <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
          <span
            ><button
              id="register"
              class="btn btn-success"
              [disabled]="registerForm.invalid"
              type="submit"
            >
              Register
            </button></span
          >
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
          <p>Formulário válido: {{ registerForm.valid }}</p>
          <p>Formulário tocado: {{ registerForm.touched }}</p>
          <p>Formulário sujado: {{ registerForm.dirty }}</p>
        </div>
      </div>
    </div>
  </form>
</div>
